<mat-toolbar >
  <h3 class="title">CountryCric</h3>
  <div class="menu">
    <a href="#">Home</a>
    <a href="#">Events</a>
    <a href="#">Teams</a>
    <a href="#">Stats</a>

  </div>
<div class="search">
  <input type="text">
  <mat-icon >search</mat-icon>
</div>

</mat-toolbar>

<div class="events">
  <div>
    <h1>no current Event</h1>
  </div>
</div>
<h3 class="recent-events-h3">Recent Matches</h3>
<div class="recent-events">
<!--  <h3>Recent Matches</h3>-->
  <mat-card *ngFor="let in of [1,2,3,4,5]" class="match">
    <mat-card-title>hello</mat-card-title>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at, consectetur corporis cumque dolor dolores eveniet, fuga impedit inventore iste modi placeat quia ratione reiciendis repellat repellendus repudiandae similique vitae!</mat-card-content>

  </mat-card>
</div>


<h3 class="recent-events-h3">Recent Matches</h3>
<div class="recent-events">
  <!--  <h3>Recent Matches</h3>-->
  <mat-card *ngFor="let in of [1,2,3,4,5]" class="match">
    <mat-card-title>hello</mat-card-title>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at, consectetur corporis cumque dolor dolores eveniet, fuga impedit inventore iste modi placeat quia ratione reiciendis repellat repellendus repudiandae similique vitae!</mat-card-content>

  </mat-card>
</div>


<h3 class="recent-events-h3">Recent Matches</h3>
<div class="recent-events">
  <!--  <h3>Recent Matches</h3>-->
  <mat-card *ngFor="let in of [1,2,3,4,5]" class="match">
    <mat-card-title>hello</mat-card-title>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at, consectetur corporis cumque dolor dolores eveniet, fuga impedit inventore iste modi placeat quia ratione reiciendis repellat repellendus repudiandae similique vitae!</mat-card-content>

  </mat-card>
</div>

